.header {
  margin-top: 2vh;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.socialMedias {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.smIcon {
  color: rgb(114, 114, 114);
  cursor: pointer;
  height: 10.063vw;
}

.logo {
  height: 10.063vw;
}

* {
  margin: 0;
  font-size: 16px;
}

.body {
  margin: 0;
  overflow: hidden;
}

.landingSection {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
}

.letterA {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #242424;
  z-index: 1;
}

.letterU {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
  z-index: 2;
  left: 50%;
  background-color: #242424;
}

.path {
  stroke: white;
  stroke-opacity: 1;
  stroke-dasharray: 3000; /* make longer than line */
  stroke-dashoffset: 3000;
  stroke-width: 1;
  /* animation: link-animation 1s linear forwards; */
  fill: none;
}

#pathA {
  z-index: 0;
  position: relative;
  transform: translateX(76%);
}

.slider {
  background-color: #242424;
  width: 36.5%;
  position: absolute;
  height: 100vh;
  transform: translateX(0%);
  right: 0;
  z-index: 3;
}

/* not utilized (later will include as backup animation per the GreenSock docs?) */
@-webkit-keyframes link-animation {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes link-animation {
  to {
    stroke-dashoffset: 0;
  }
}
.home {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeContainer {
  width: 80%;
  height: 99%;
  background-color: transparent;
}

.personalSection {
  margin-top: 5vh;
  font-family: "Lato", sans-serif;
  display: flex;
}

.borderLeft {
  width: 1px;
  background-color: rgb(114, 114, 114);
}

.presentation {
  margin-left: 10%;
}

.skillsSection {
  margin-top: 5vh;
  font-family: "Lato", sans-serif;
}

.skillsIconsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.skillsTitle {
  padding-bottom: 1vh;
}

.individualSkillIcon {
  width: 25%;
  height: 3vh;
}

.skillName {
  display: block;
  font-size: 3.5vw;
}

.skillIcon {
  display: block;
  transform: translateX(100%);
}

.reactIcon {
  fill: #61dbfb;
}

.javascriptIcon {
  fill: #f0db4f;
  background-color: #323330;
}

.htmlIcon {
  fill: #f06529;
}

.cssIcon {
  fill: #2965f1;
}

.tailwindcssIcon {
  fill: #4dc0b5;
}

.nodejsIcon {
  fill: #3c873a;
}

.postmanIcon {
  fill: #ef5b25;
}

.bootstrapIcon {
  fill: #553c7b;
}

.vue3Icon {
  fill: #41b883;
}

.sassIcon {
  fill: #cd6799;
}

.swaggerIcon {
  fill: rgb(43, 175, 43);
}

.mysqlIcon {
  fill: #00758f;
}

.mongodbIcon {
  fill: #3fa037;
}

.materialuiIcon {
  fill: #2196f3;
}

.gitIcon {
  fill: #f1502f;
}

.selectsSection {
  font-family: "Lato", sans-serif;
  margin-top: 5vh;
}

.select {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
}

.borderTop {
  width: 100%;
  height: 1px;
  background-color: black;
}

.selectContent {
  display: flex;
}

.selectText {
  font-size: 0.9em;
  padding-left: 3%;
}/*# sourceMappingURL=style.css.map */