.header {
  margin-top: 2vh;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.socialMedias {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.smIcon {
  color: rgb(114, 114, 114);
  cursor: pointer;
  height: 10.063vw;
}

.logo {
  height: 10.063vw;
}
