.home {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeContainer {
  width: 98%;
  height: 99%;
  background-color: transparent;
}
