.personalSection {
  margin-top: 5vh;
  font-family: "Lato", sans-serif;
  display: flex;
}

.borderLeft {
  width: 1px;
  background-color: rgb(114, 114, 114);
}

.presentation {
  margin-left: 10%;
}
