.select {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
}

.borderTop {
  width: 100%;
  height: 1px;
  background-color: black;
}

.selectContent {
  display: flex;
}

.selectText {
  font-size: 0.9em;
  padding-left: 3%;
}

// .borderBottom {
//   width: 100%;
//   height: 1px;
//   background-color: black;
// }
